@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Checkboxes */
input:checked + div {
  @apply border-emerald-500 bg-emerald-50;
}

input:checked + div svg {
  @apply opacity-100;
}

.fundocartao {
  background-image: url("/testefundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 600px;
}
